{% extends "base.html" %}

{% block titulo %}

    Notas

{% endblock %}

{% block contenido_que_cambia %}


    <h1>Sector Notas</h1>

    <p>Hoy presentamos: {{new_note.title}}</p>
    <p>Descripcion--{{new_note.description}}</p>
    <p>Autor de esta nota: {{new_note.author}}</p>
    <p>Cualquier consulta, no dudes de comunicarte conmigo {{new_note.email}}</p>

    <h1>Cuándo empieza el Mundial Qatar 2022</h1>

        <p>El Mundial de Qatar 2022 se realizará entre el 21 de noviembre y el 18 de diciembre en el país asiático. Cabe señalar que la fase de grupos será desde el 21 al 2, mientras que los octavos de final iniciarán el 3 y se extenderán hasta el 6.</p>
        
        </p>Luego, los cuartos se llevarán a cabo el 9 y 10 de diciembre. Las semifinales también ocuparán dos días: 13 y 14. Por último, la final será el 18 de diciembre en el Lusail Stadium.</p>

    {% endblock %}










