{% extends "base.html" %}

{% block titulo %}

    Pagina Principal

{% endblock %}

{% block contenido_que_cambia %}

    <h1>{{message}}</h1>

    <h2>Bienvenido a Mundialando</h2>
    
    
    <p>En esta pagina te vamos a estar contando todas las novedades de la scaloneta en la previa de esta tan ansiado Torneo</p>
    

    <p>El Mundial de Qatar 2022 cada vez luce más cerca.<p>
    <p>Del 21 de noviembre al 17 de diciembre, 32 selecciones disputarán el torneo de fútbol más importante del planeta.<p>

    <p>Esta pagina fue creada por Martin Hermelo</p>


        


{% endblock %}