{% extends "base.html" %}

{% block titulo %}

    About Me

{% endblock %}

{% block contenido_que_cambia %}

<h1>About me:</h1>

<p>Mi nombre es Martin Hermelo, tengo 26 años y soy el creador. Es la primera vez que diseño una pagina. Nunca habia estudiado nada relacionado.</p>
<p>Siempre me intereso y me termine decidiendo por Python. Gracias a los conociemientos adquiridos en el curso, decidi realizar este proyecto. Donde pude explayar todo lo que aprendi.</p>
<p>Espero puedas disfrutar esta Pagina. Con mucha informacion del mundial.</p>

    {% endblock %}


